<!DOCTYPE HTML>
<html>
	<head>
		<title>Highlights by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header class="major">
					<h1 style="color:black;">Lawrence Esturas</h1>
					<p style="color:black;">Web Developer / Programmer</p>
				</header>
				<div class="container">
					<ul class="actions">
						<li><a href="#one" class="button special scrolly">Begin</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/anabel-f-zamora-230570.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2><!--[-->Who I am<!--]--></h2>
						</header>
						<p>I am a full stack web developer experienced in creating fully realized web applications.
							Utilizing both front end and back end development frameworks, I have built programs which interact
							and conform to modern day UX sensibilities with the flexibility and advantages of todays modern technologies.  </p>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/ilya-pavlov-87438.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2><!--[-->Technologies<!--]--></h2>
						</header>
						<p>Front end and back end frameworks</p>
						<ul class="icons-grid">
							<li>
								<span class="icon major fa-camera-retro"></span>
								<h3>Angular JS
										/ React</h3>
							</li>
							<li>
								<span class="icon major fa-pencil"></span>
								<h3>Express.js</h3>
							</li>
							<li>
								<span class="icon major fa-code"></span>
								<h3>Node.js</h3>
							</li>
							<li>
								<span class="icon major fa-copy"></span>
								<h3>MongoDB</h3>
							</li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="main special">
				<div class="container">
					<span class="image fit primary"><img src="images/eli-francis-100644.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2><!--[-->Education<!--]--></h2>
						</header>
						<p style="text-align: left;	">Bridge and Coding Boot Camp<br/>
							Full M.E.A.N. Stack Web Development<br/>
							June 2017<br/><br/>

							Los Angeles City College; Los Angeles, CA<br/>
							Associate of Science in Information Systems<br/>
							Pursuing<br/><br/>

							California State Polytechnic University - Pomona; Pomona, CA<br/>
							Bachelor of Science in Computer Engineering<br/>
							June 2010<br/><br/></p>
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>

			<!-- Four -->
				<section id="three" class="main special">
					<div class="container">
						<span class="image fit primary"><img src="images/downtown-skyscrapers_4460x4460.jpg" alt="" /></span>
						<div class="content">
							<header class="major">
								<h2><!--[-->Professional<!--]--></h2>
							</header>
							<p style="text-align: left;	">
								<strong>Lawgood; Los Angeles, CA<br/>
								Web Developer/ Intern <br/>
								April 2017 – May 2017  </strong><br/><br/>
								Applied the React/Redux framework in developing a front end client side web application with communication to a backend REST API utlizing Node.js, Express, and Mongo DB <br/><br/>
								Implemented client side code for initiating user login, sign up, update, and user experience routing across a single page application (SPA) <br/><br/>
								Developed messaging between users via a chat room feature (Socket.io)  <br/><br/>
								Utilized third party API’s allowing for account login (Facebook/LinkedIn) <br/><br/>
								Used custom styling to improve the website aesthetic/user experience (parallax/visual animations of web elements)   <br/><br/>

								<strong>Farmers Insurance; Woodland Hills, CA<br/>
								QA Tester/ Student Intern<br/>
								October 2011 – August 2012 </strong><br/><br/>
								Tested the reliability and efficiency of a proprietary Farmers accounting software <br/><br/>
								Confirmed data reliability through test case and white box testing methodologies<br/><br/>
								Resolved issues surrounding data discrepancies and functionality errors within the application<br/><br/>
								Ensured correct computational values in calculating an agents contract value<br/><br/>

								<strong>Guiang Corporation; Los Angeles, CA<br/>
								QA Tester/Programmer <br/>
								September 2009 - June 2010</strong><br/><br/>
								Tested/Optimized a mobile application for cloud synchronization of settings, contacts, tasks, appointments, and files to an android device<br/><br/>
								Performed troubleshooting measures to ensure software integrity<br/><br/>
								Improved overall GUI interface/aesthetic of the application<br/><br/>
								Implemented new product features based on QA and customer feedback using C++<br/><br/>
								Documented test plans and bug tracking tickets<br/>
							</p>
						</div>
						<a href="#footer" class="goto-next scrolly">Next</a>
					</div>
				</section>

			<section id="footer">
				<div class="container">
					<span class="image fit primary"><img src="images/Social-Media-Approach_2.1.jpg" alt="" /></span>
					<div class="content">
						<header class="major">
							<h2><!--[-->Social Links<!--]--></h2>
						</header>
					<ul class="icons">
						<li><a href="https://github.com/lresturas" target="_blank" class="icon alt fa-github"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.linkedin.com/in/lawrence-esturas-b01b0635/" target="_blank" class="icon alt fa-linkedin"><span class="label">Facebook</span></a></li>
					</ul>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
